<footer>
    <div class="footer-content">
      <a href="mailto:help@deinedomain.com">Brauchst du Hilfe? Email uns</a>
      <div class="social-icons">
        <!-- Füge hier deine Social Media Links ein -->
        <a href="https://www.instagram.com/leon.smc_" target="_blank"><img class="icons" src="icons/insta_icon.png" alt=""></a>
        <a href="https://github.com/leonsmc" target="_blank"><img class="icons" src="icons/github_icon.png" alt=""></a>
        <a href="https://www.linkedin.com/in/leon-salzmann-4952592a2/" target="_blank"><img class="icons" src="icons/linkedin_icon.png" alt=""></a>
        <!-- Weitere Icons -->
      </div>
      <nav class="footer-nav">
        <!-- Füge hier die Links zu deinen Seiten ein -->
        <a href="/courses">Kurse |</a>
        <a href="/labs">Labs |</a>
        <a href="/snippets">Snippets |</a>
        <a href="/contrib">Beitragen |</a>
        <a href="/privacy">Datenschutz |</a>
        <a href="/terms">Nutzungsbedingungen</a>
      </nav>
      <p class="copyright">Copyright © 2023 Leon Salzmann</p>
    </div>
  </footer>


  <nav class="navbar">
    <ul class="nav-list">
        <li><a href="index.html">Startseite</a></li>
        <li><a href="webdesign.html">Webdesign</a></li>
        <li><a href="edit_preview.html">Bildbearbeitung</a></li>
        <li><a href="gallery.html">Galerie</a></li>
        <li><a href="studio.html">Fotostudio</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>